*.lo
.deps/
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
configure.ac
depcomp
description-pak
doc-pak/
install-sh
intltool-*.in
libtool
ltmain.sh
missing
mkinstalldirs
panel-plugin/genmon.desktop
panel-plugin/genmon.desktop.in
panel-plugin/libgenmon.la
po/*.gmo
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
stamp-h1
